{% extends 'base.html' %} 																{# 부모 템플릿인 'base.html' 템플릿을 상속 #}

{% block title %}북마크 삭제하기{% endblock %}

{% block content %} 																	{# 부모 템플릿에 정의된 {% block %} 템플릿 태그를 자식 템플릿에서 재정의. (부모가 정의한 block에 한해서만 재정의 가능.)		#}
																						{# <<<	템플릿의 공통사항을 가능한 한 많이 뽑아서 1단계 부모 템플릿에 {% block %} 태그가 많아질수록 좋다. 					#}
																						{# 		부모 템플릿의 {% block %} 안에 있는 내용도 사용하고 싶다면, 자식 템플릿에 {{ block.super }} 변수를 사용하면 된다. 	#}
<form action="" method="post">
	{% csrf_token %}
	<div class="alert alert-dager">"{{ object }}" 북마크를 정말 삭제하시겠습니까?</div>
	<input type="submit" value="삭제" class="btn btn-danger">
</form>


{% endblock %}